body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.heading {
  color: darkgray;
  padding-top: 24px;
  font-size: 36px;
}

.form-input {
  padding: 5px 10px;
  margin: 10px 10px;
  height: 50px;
}

.form {
  padding: 5%;
  border-bottom: solid;
}

.course-form {
  margin: 10px 10px;
  border-radius: 8px;
  border: solid;
  width: 80%;
}

ul {
}

ul li {
  text-decoration: none;
}

.btn {
  margin-bottom: 10px;
}

.footer {
  margin: 1%;
}

/* styles for button on score page */
.scoreCrd {
}

.button-stroke {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  background-color: #be5353;
  padding: 10px;
  font-size: 24px;
  border: 1px solid #982d2d;
  background-image: linear-gradient(
    to bottom,
    rgb(180, 73, 73) 0%,
    rgb(203, 97, 97) 100%
  );

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(180, 73, 73)),
    color-stop(1, rgb(203, 97, 97))
  );
  border-radius: 20px;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 15px 0px #8f2b2b, 0px 3px 15px rgba(0, 0, 0, 0.4),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);
  -webkit-transform: rotateX(25deg);
}

.button-stroke:hover {
  background-image: linear-gradient(
    to bottom,
    rgb(191, 79, 79) 0%,
    rgb(214, 102, 102) 100%
  );

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(191, 79, 79)),
    color-stop(1, rgb(214, 102, 102))
  );
}

.button-stroke:active {
  background-image: linear-gradient(
    to bottom,
    rgb(204, 88, 88) 0%,
    rgb(199, 90, 90) 100%
  );

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(204, 88, 88)),
    color-stop(1, rgb(199, 90, 90))
  );
  box-shadow: 0px 2px 0px #8f2b2b, 0px 1px 6px rgba(0, 0, 0, 0.4),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);
  transform: translate(0, 4px);
  transition: all 0.03s ease-in-out;
  transform: translate(0, 4px);
}

.button-next {
  display: inline-block;
  text-decoration: none;
  height: 75px;
  color: #fff;
  font-weight: bold;
  background-color: #5fbe53;
  padding: 20px 70px;
  font-size: 24px;
  border: 1px solid #46982d;
  background-image: linear-gradient(
    to bottom,
    rgb(91, 180, 73) 0%,
    rgb(97, 203, 97) 100%
  );

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(91, 180, 73)),
    color-stop(1, rgb(97, 203, 97))
  );
  border-radius: 10px;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 15px 0px #378f2b, 0px 3px 15px rgba(0, 0, 0, 0.4),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);
  -webkit-transform: rotateX(25deg);
}

.button-next:hover {
  background-image: linear-gradient(
    to bottom,
    rgb(101, 191, 79) 0%,
    rgb(121, 214, 102) 100%
  );

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(101, 191, 79)),
    color-stop(1, rgb(121, 214, 102))
  );
}

.button-next:active {
  background-image: linear-gradient(
    to bottom,
    rgb(107, 204, 88) 0%,
    rgb(108, 199, 90) 100%
  );

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(107, 204, 88)),
    color-stop(1, rgb(108, 199, 90))
  );
  box-shadow: 0px 2px 0px #378f2b, 0px 1px 6px rgba(0, 0, 0, 0.4),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);
  transform: translate(0, 4px);
  transition: all 0.03s ease-in-out;
}

.form-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 5px;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  resize: none;
}

.form-input:focus {
  border: lightgrey;
}
