:root {
  --primary: #4d7701;
  --secondary: #9e8d8f;
  --tertiary: #f4f0f4;
  --dark: #1b2c00;
  --error: #f46500;
}

main {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background-color: var(----ter);
  /* background-image: url('./assets/images/dg-basket.png'); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: var(--tertiary);
}

.footer {
  margin-top: auto;
  font-size: medium;
  color: var(--dark);
  font-weight: bold;
  background-color: var(--tertiary);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.heading {
  margin: 10px 10px;
  padding: 12px 12px;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  font-size: x-large;
  color: var(--dark);
  border: solid;
  background-color: var(--secondary);
  opacity: 90%;
  font-weight: bold;
}

.alt-heading {
  margin: 10px 10px;
  padding: 12px 12px;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  font-size: x-large;
  color: var(--tertiary);
  border: solid;
  background-color: var(--dark);
  opacity: 90%;
  font-weight: bold;
  opacity: 90%;
  font-weight: bold;
}

.button-go {
  background-color: var(--error);
  margin: 15px 15px;
  color: var(--tertiary);
  text-decoration: none;
  border-radius: 14px;
  font-size: 20px;
  text-align: center;
  padding: 10px 10px 10px 10px;
}

.sub-heading {
  margin: 10px 10px;
  padding: 6px 6px;
  text-align: center;
  border-radius: 12px;
  font-size: large;
  color: var(--dark);
  background-color: var(--secondary);
  border-color: var(--secondary);
  border: solid;
  opacity: 90%;
}

.alt-sub-heading {
  margin: 10px 10px;
  padding: 6px 6px;
  text-align: center;
  border-radius: 12px;
  font-size: large;
  color: var(--dark);
  background-color: var(--tertiary);
  border-color: var(--secondary);
  border: solid;
  opacity: 90%;
}
.form-input {
  padding: 5px 10px;
  font-size: 14px;
  text-align: center;
  margin: 10px 10px;
  height: 70px;
  color: var(--dark);
  border: var (--primary);
}

.text-error {
  color: var(--error);
}

.form {
  padding: 5%;
}

.table {
  max-height: 400px;
  overflow: scroll;
}

.course-form {
  margin: 10px 10px;
  border-radius: 8px;
}

.form-group {
  height: 50%;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: 40%;
}

.par-input {
  background-color: red;
}

.course-list {
  max-height: 460px;
  overflow: scroll;
  color: var(--dark);
  font-size: 14px;
  opacity: 90%;
  text-decoration: none;
  padding: 10px 10px 10px 10px;
  color: var(--dark);
}

.star {
  padding-right: 12px;
}

.hole-form {
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  border: solid;
  margin-right: 20px;
}

.card-heading {
  margin: 12px 12px 12px 12px;
  padding: 5px 5px 5px 5px;
  border-radius: 12px;
  border: solid;
  border-color: var(--primary);
  background-color: var(--secondary);
  opacity: 90%;
}

.button {
  background-color: var(--primary);
  margin: 15px 15px;
  color: var(--tertiary);
  text-decoration: none;
  border-radius: 14px;
  font-size: 20px;
  text-align: center;
  padding: 10px 10px 10px 10px;
}

.launch-history {
  background-color: var(--error);
  margin: 15px 15px;
  color: var(--tertiary);
  text-decoration: none;
  border-radius: 14px;
  font-size: 20px;
  text-align: center;
  padding: 10px 10px 10px 10px;
  opacity: 80%;
}

.button-secondary {
  background-color: var(--dark);
  margin: 15px 15px;
  color: var(--tertiary);
  text-decoration: none;
  border-radius: 14px;
  font-size: 20px;
  text-align: center;
  padding: 10px 10px 10px 10px;
}

.button:hover {
  opacity: 90%;
  background-color: var(--error);
}

.button-secondary {
  opacity: 90%;
  background-color: var(--error);
}

.button-delete {
  background-color: var(--secondary);
}

.list-go {
  color: var(--error);
}

.link-go {
  color: var(--error);
  text-decoration: none;
  text-align: center;
}

.favCourse-link {
  text-decoration: underline !important;
}

.toggle {
  font-size: 1.5rem;
  padding: 0 !important;
  background-color: white;
}

.form-switch .form-check-input {
  margin-left: 0 !important;
}

/* styles for profile page */
.favCourse-link {
  text-decoration: underline !important;
}

.history-btn {
  background: none !important;
  border: none;
  padding: 0 !important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

.loginMsg {
  margin-top: 50%;
  text-align: center;
  background-color: white;
  width: 75%;
}

/* styles for profile page */
.form-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 5px;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  resize: none;
  opacity: 95%;
}

.form-input:focus {
  border: lightgrey;
}

/* styles for view courses page */
.favStar {
  font-size: 1.5rem;
}

.courseBtn {
  width: 100%;
  background: none !important;
  border: none;
  padding: 0 !important;
}

.courseList input[type='checkbox']:checked ~ .emptyStar {
  display: none;
}

.courseList input[type='checkbox']:checked ~ .solidStar {
  display: inline-block;
  animation: heartBeat;
  animation-duration: 1s;
}

#strokeTotal {
  font-size: 1.5rem;
  background-color: var(--tertiary);
  color: var(--dark);
  width: 30%;
  margin: auto;
  border-radius: 20px;
  text-align: center;
  pointer-events: none;
}

.fatrash {
  background-color: transparent;
  border: none;
}
/* styles for view courses page */
