  .navbar {
    background-color: var(--dark);
    justify-content: space-between;
    width: 100%;
    box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
  }

  .nav-container {
    display: flex;
    height: 62px;
  }

  .logo {
    color: var(--tertiary);
    font-size: 2.5rem;
  }

  .disc-icon {
    color: var(--tertiary);
    height: 2rem;
  }

  .large-nav {
    display: flex;
    align-items: center;
    background-color: var(--dark);
    height: 4rem;
  }

  .nav-item {
    margin: 0 10px;
    text-decoration: none;
    color: var(--tertiary);
  }

  .nav-item:hover {
    color: var(--error);
  }

  .logout-btn {
    color: var(--tertiary);
    border: none;
    background-color: transparent;
  }

@media only screen and (max-width: 600px) {
  .nav-container {
    justify-content: center !important;
  }

  .large-nav {
    display: none;
  }
}
